:root{
  --color-darkBlue:rgb(24, 23, 37);
  --color-darkCyan:rgb(106, 132, 146);
  --color-blueDarker:#161625;
  --color-blueDark:#1e1e30;
  --color-grey:#6c757d;
  --color-blue:#3d59b5;
  --color-blueLayer:#132240;
  --color-red:#b87ea4;
  --color-redLayer:#331327;
  --color-greyLight:#97c1d3;
  --color-greyLayer:#202230;
  --color-gold:#8d6336;
}